#colonna-centrale {
    padding-bottom: 20vh;
  }
  
  #card-title {
    font-size: 1.25rem;
  }
  #card-text {
    font-size: 1rem;
  }
  .my-cards {
    border-radius: 6%;
  }
  .card-img-top {
    border-radius: 6%;
  }
  .position-absolute {
    padding: 5px;
    width: 1.5em;
    z-index: 2;
  }
  
  #main-a {
    border-radius: 10px;
  
    display: flex;
  
    background: #000000;
    background: -moz-linear-gradient(
      45deg,
      #000000 0%,
      #171717 50%,
      #2e2e2e 100%
    );
    background: -webkit-linear-gradient(
      45deg,
      #000000 0%,
      #171717 50%,
      #2e2e2e 100%
    );
    background: linear-gradient(
      45deg,
      #000000 0%,
      #171717 50%,
      #2e2e2e 100%
    );
    border-radius: 3px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: reverse;
  }
  @media (max-width:768px) {
    #main-a{
      background-image: url("../imgs/main/starwarsbackgroundimage.png");
      background-position: 40% 40%;
      
    }
  }
  
  #to-search{
    color: #a8a8a8;
  }
  #to-search:hover{
    color: white;
    cursor: pointer;
  }