.sfoglia-box
{
    height: 150px;
    width: 150px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #000000 !important;
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin:5px
}

.sfoglia-img
{
    position: absolute;
    z-index: 2;
    height: 100px !important;
    transform: rotate(20deg);
    bottom: -5px;
    right: -10px;
    box-shadow: 5px 5px 37px -2px #000000;

}

.sfoglia-text
{
    position: absolute;
    top: 10px;
    left: 10px ;
    z-index: 3;
    font-family: CircularStd-book;
    font-weight: bold;
    font-size: 25px;
    text-shadow: 1px 1px 2px black;
}

.no-border
{
    border: 0px !important
}