.text-shadow
{
    text-shadow: 1px 2px 2px #000000;
}

.scrolling-box {
  display: block;
  width: auto;
  height: 627px;
  padding: 1em;
  overflow-y: scroll;
}
#second-block {
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar  {
  display:none
}
::-webkit-scrollbar-track {
  background-color: black;
}
::-webkit-scrollbar-thumb {
  background-color: #4d4d4d;
}
/*css bottone proflo*/
#profilo {
  -webkit-tap-highlight-color: transparent;

  background-color: rgba(0, 0, 0, 0.54);
  color: #ffffff;
  display: flex;
  border-radius: 500px;
}

/*css freccette*/
.arrow-link {
  display: inline-block;
  background-color: black;
  border-radius: 100%;
  height: 48%;
  padding: 5px;
  margin: 5px;
}

.arrow-link svg {
  margin-top: -13px;
  color: white;
}

/*css icona account*/
.dropdown-toggle::after {
  margin-left: 11px; 
  margin-top: 10px;
}

/*css img first*/
#imgAlbum {
  width: 20%;
}
.card {
  background-color: rgba(112, 112, 112, 0.393);
  color: #ffffff;
}

/* Font */

@font-face {
  font-family: CircularStd-black;
  src: url("./../fonts/CircularStd-Black.otf") format("opentype");
}

@font-face {
  font-family: CircularStd-book;
  src: url("./../fonts/CircularStd-book.otf") format("opentype");
}

@font-face {
  font-family: CircularStd-bold;
  src: url("./../fonts/CircularStd-Bold.otf") format("opentype");
}

body
{
    overflow-x: hidden;
    user-select: none;
}

.text-hover:hover
{
  color: white;
  cursor: pointer;
  text-decoration: underline;
}

.text-mono
{
  font-family: CircularStd-bold;
}

.fs-7
{
  font-size: 15px;
}

.fs-8
{
  font-size: 11px;
}

.m-6
{
  margin: 1.72rem!important;
}

#slider
{
  accent-color: #1ed760;
  height: 3px;
  width: 110%;
}

/* BACKGROUNDS*/

.bg-black {
  background-color: #000000 !important;
}

.bg-spotify {
  background-color: #202020 !important;
}

.bg-card{
  background-color: rgba(112, 112, 112, 0);
}

.bg-spotify-card {
  background-color:  #202020!important;
  box-shadow: 1px 7px 46px 4px #000000;
}

.bg-spotify-card :hover {
  background-color:  #2e2e2e!important;
}

.bg-spotify-player
{
  background-color: #181818 !important
}

.bg-spotify-welcome-card {
  background-color: #2c2c2c !important;
}

/* TESTO E PULSANTI*/

.text-spotify {
  color: #2c2c2c !important;
}

.text-spotify-secondary {
  color: #a8a8a8;
}

.btn-spotify {
  background-color: #1ed760 !important;
}

.btn-follower
{
  border: 1px white solid;
  border-radius: 3px;
  background-color:rgba(255,255,255,0);
  color: white;
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.spotify-card
{
  border-radius: 5px;
}

.spotify-card-image
{
  border-radius: 15px;
  box-shadow: 5px 15px 31px -8px #000000;
  padding: 0px !important;
  z-index: 2;
}

.card-container
{
  padding: 5px !important;
}


/* COLONNA SINISTRA*/

#left-column
{
    height: 100vh !important;
}

#left-column-content
{
  height: 100% !important;
  width: 100% !important;
}

#first-block
{
    margin: 0px 0px 0px 0px !important;
    font-family: CircularStd-black;
}

#first-block p:hover
{
    color: white;
    cursor: pointer;
}

#second-block
{
    margin: 0px 0px 0px 0px !important;
}

#main-library
{
  height: 100% !important;
}

p {
  margin: 0px !important;
  padding: 0px !important;
}

#hr-separatore {
  margin: auto !important;
}

.lateral-column {
  z-index: 5;
}

#left-column-content {
  max-width: 100%;
  overflow: auto;
  overflow: hidden;
  left: 0px !important;
}

#playlist-library
{
    list-style: none;
    padding: 0px;
    padding-right: 20px;
    margin: 0px;
    height: 100% !important;
}

#playlist-library li:hover
{
    color: white;
    cursor: pointer;
    text-decoration: underline;
}

/* Colonna di destra */

#right-column{
  height: 100vh;
}

#activities {
  font-family: CircularStd-black;
}

.friend-propic {
  border-radius: 100%;
  /* height: 40px;
    width: 40px; */
  object-fit: cover;
  /* Prove per evitare l'accavallamento degli elementi  */
  width: 2.5em;
  height: 2.5em;
}

.friend-name
{
    margin:0;
    font-family: CircularStd-black;
    font-size: 15px;
    display: inline;
}




.friend-music
{
    font-size: 10px;
    font-family: CircularStd-book;
    margin: 30px;
}

/* Footer */

.footer-player
{
  box-shadow: 0px 0px 1px 0px #a8a8a8;
  z-index: 5;
} 

.audio
{
  height: 1px;
  border: solid white 1px;
}

.audio-time
{
  padding-top: 9px !important
}

.audio-slider
{
  accent-color: white;
}

.player-button
{
  background-color: white;
  width: 25px;
  border-radius: 100%;
  padding-left: 6px;
}

.player-button-icon
{
  margin-bottom: 3.5px
}

.player-button .pause-player-image
{
  padding-bottom: 4px;
  padding-right: 7px;
  margin-left: -1px;
}

.bottom-nav
{
  background: linear-gradient(180deg, rgba(0,0,0,0.2274159663865546) 0%, rgba(0,0,0,0.7540266106442577) 35%, rgba(0,0,0,0.9332983193277311) 100%);}